---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";
import Hero from "~/components/widgets/Hero.astro";
import Note from "~/components/widgets/Note.astro";
import Features from "~/components/widgets/Features.astro";
import Steps from "~/components/widgets/Steps.astro";
import Content from "~/components/widgets/Content.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Stats from "~/components/widgets/Stats.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Map from "~/components/react/Map";
import { t, changeLanguage } from "i18next";
import { Trans } from "astro-i18next/components";

changeLanguage("en");

const meta = {
    title: t("site.title"),
    description: t("site.description"),
    dontUseTitleTemplate: true,
};
const response = await fetch("https://balancepolefitness.com/n/public/api/lessons");
const data = await response.json();
const featuresData = data
    .filter((d) => d.active === "1")
    .map((i) => {
    return {
        title: `${i.type} ${i.name}`,
        description: i.description,
        icon: "tabler:flag",
    };
});
const leftData = featuresData.splice(0, featuresData.length / 2);
const rightData = featuresData.splice(0, featuresData.length);
const year = +new Date().getFullYear() - 2011;
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{
      text: t('hero.button1'),
      href: `https://wa.me/52${SITE.phone}?text=Website: `,
      icon: 'tabler:brand-whatsapp',
    }}
    callToAction2={{ text: t('hero.button2'), type: 'modal' }}
    image={{
      src: import('~/assets/images/hero.jpg'),
      alt: 'Hero Balance Pole Fitness',
    }}
  >
    <Fragment slot="title">
      {t('hero.title')}
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span
          class="font-semibold underline decoration-wavy decoration-1 decoration-primary-600 underline-offset-2"
          >{t('hero.subtitle')}</span
        >
        <Trans i18nKey="hero.description">
          En Balance tenemos clases de <em>Pole</em>, <em>Aerial Skills</em> y disciplinas
          complementarias
        </Trans></span
      >
      <span class="block mb-1 sm:hidden font-bold text-primary-600"
        >Balance Pole Fitness</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Content Widget **************** -->

  <Content
    highlight={t('about.title')}
    title={t('header.about')}
    content={t('about.description')}
    idSection="about-us"
    items={[
      {
        title: t('about.item1'),
      },
      {
        title: t('about.item2'),
      },
      {
        title: t('about.item3'),
      },
      {
        title: t('about.item4'),
      },
    ]}
    image={{
      src: import('~/assets/images/about.jpg'),
      alt: 'about balance pole',
    }}
  />

  <!-- Features Widget *************** -->

  <Features
    highlight={t('features.highlight')}
    title={t('features.title')}
    subtitle={t('features.description')}
    items={[leftData, rightData]}
  />

  <!-- Content Widget **************** -->

  <Content
    highlight={t('content.highlight')}
    title={t('content.title')}
    idSection="extra"
    isReversed
    items={[
      {
        title: t('content.item1'),
      },
      {
        title: t('content.item2'),
      },
      {
        title: t('content.item3'),
      },
      {
        title: t('content.item4'),
      },
      {
        title: t('content.item5'),
      },
      {
        title: t('content.item6'),
      },
      {
        title: t('content.item7'),
      },
      {
        title: t('content.item8'),
      },
      {
        title: t('content.item9'),
      },
      {
        title: t('content.item10'),
      },
    ]}
    image={{
      src: import('~/assets/images/extra.jpg'),
      alt: 'servicios extra',
    }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title={t('steps.title')}
    items={[
      {
        title: t('steps.item1.title'),
        description: t('steps.item1.description'),
        icon: 'tabler:at',
      },
      {
        title: t('steps.item2.title'),
        description: t('steps.item2.description'),
        icon: 'tabler:box',
      },
      {
        title: t('steps.item3.title'),
        description: t('steps.item2.description'),
        icon: 'tabler:brand-whatsapp',
      },
      {
        title: t('steps.item4.title'),
        description: t('steps.item4.description'),
        icon: 'tabler:calendar',
      },
      {
        title: t('steps.item5.title'),
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: import('~/assets/images/steps.jpg'),
      alt: 'pasos para registrarte',
    }}
  />

  <!-- HighlightedPosts Widget ******* -->

  <!-- <HighlightedPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
			Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
			Astro is a very interesting technology. Thanks.
		`}
    postIds={[
      'get-started-website-with-astro-tailwind-css.md',
      'how-to-customize-astrowind-to-your-brand.md',
      'useful-resources-to-create-websites.md',
      'astrowind-template-in-depth.md',
    ]}
  /> -->

  <!-- FAQs Widget ******************* -->

  <FAQs
    title={t('faqs.title')}
    subtitle={t('faqs.subtitle')}
    highlight="FAQs"
    items={[
      [
        {
          question: t('faqs.item1.title'),
          answer: t('faqs.item1.description'),
        },
        {
          question: t('faqs.item2.title'),
          answer: t('faqs.item2.description'),
        },
        {
          question: t('faqs.item3.title'),
          answer: t('faqs.item3.description'),
        },
      ],
      [
        {
          question: t('faqs.item4.title'),
          answer: t('faqs.item4.description'),
        },
        {
          question: t('faqs.item5.title'),
          answer: t('faqs.item5.description'),
        },
      ],
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    title={'🤩'}
    items={[
      { name: 'Mérida', value: '#1' },
      { name: t('stats.item1.name'), value: t('stats.item1.value') },
      { name: t('stats.item2.name'), value: t('stats.item2.value') },
      { name: t('stats.item3.name'), value: t('stats.item3.value') },
    ]}
  />

  <section class="scroll-mt-16" id="location">
    <Map
      client:load
      title={t('location.title')}
      subtitle={t('location.subtitle')}
    />
  </section>

  <!-- CallToAction Widget *********** -->

  <section class="scroll-mt-16" id="contact">
    <CallToAction
      callToAction={{
        text: t('contact.button'),
        href: 'mailto:contacto@balancepolefitness.com?subject=Contact from website',
        icon: 'tabler:mail',
      }}
    >
      <Fragment slot="title">
        {t('contact.title')} + <br class="block sm:hidden" /><span
          class="sm:whitespace-nowrap">{t('contact.subtitle')}</span
        >
      </Fragment>

      <Fragment slot="subtitle">
        {t('contact.description')}
        <br class="hidden md:inline" />
        {t('contact.footer')}
      </Fragment>
    </CallToAction>
  </section>
</Layout>
