---
import { getPermalink } from '~/utils/permalinks';
---

<div
  class="hidden md:block bg-brand-light dark:bg-brand-dark dark:border-brand-dark border-b border-brand-light text-sm px-3 py-2 overflow-hidden whitespace-nowrap text-ellipsis"
>
  <span
    class="text-sm py-1 px-1 bg-brand-dark dark:bg-brand-light text-gray-200 dark:text-gray-200 font-semibold"
    >NEW</span
  >
  <a
    href={getPermalink('month-promotion', 'page')}
    class="hover:underline text-gray-200 dark:text-gray-200"
    >Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam? »</a
  >
</div>
