---
import { SITE } from '~/config.mjs';
---

<div
  class="hidden md:block bg-brand-light dark:bg-brand-dark dark:border-brand-dark border-b border-brand-light text-sm px-3 py-2 overflow-hidden whitespace-nowrap text-ellipsis"
>
  <span
    class="text-sm py-1 px-1 bg-brand-dark dark:bg-brand-light text-gray-200 dark:text-gray-200 font-semibold"
    >Nuevo</span
  >
  <a
    href={`https://wa.me/52${SITE.phone}`}
    class="hover:underline text-gray-200 dark:text-gray-200"
    >¡No te pierdas nuestra oferta limitada! ¡Aprovecha nuestra promoción del
    mes y obtén una clase muestra gratis! »</a
  >
</div>
