---
import { Icon } from 'astro-icon';
import { t } from 'i18next';
---

<section class="bg-brand-light dark:bg-brand-dark">
  <div
    class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium text-gray-200"
  >
    <span class="font-bold">
      <Icon
        name="tabler:info-square"
        class="w-5 h-5 inline-block align-text-bottom"
      /> #LoveBalancePole:</span
    >
    {t('note.text')}
  </div>
</section>
